@if (employee){
<div class="detail-container">
    <div class="detail-header">
        <h3>{{employee.firstName}} {{employee.lastName}}</h3>

        <button mat-icon-button (click)="close.emit()">
            <mat-icon>close</mat-icon>
        </button>
    </div>

    <div class="detail-body">
        <p><strong>Email: </strong> {{employee.email}} </p>
        <p><strong>DNI: </strong> {{employee.dni}} </p>
        <p><strong>Rol: </strong> {{employee.role}} </p>
        <p><strong>Restaurante: </strong> {{employee.restaurant === null ? 'No asignado' : employee.restaurant}} </p>
    </div>
    <!--TODO: Añadir boton de eliminar usuario -->
    <!-- <div class="detail-actions">
        <button mat-raised-button (click)="toggleActive.emit({id: employee.id, nextIsActive: !employee.isActive})">
            {{employee.isActive? 'Desactivar' : 'Activar'}}
        </button>
    </div> -->
</div>
} @else {
<div class="empty-state">
    <p> Selecciona un usuario para ver el detalle </p>
</div>
}