h2[mat-dialog-title] {
  color: var(--principal-color) !important;
  font-family: var(--font-principal);
  border-bottom: 1px solid var(--secondary-color);
}

mat-dialog-content {
  background-color: var(--principal-background);
  color: var(--principal-white);
  padding-top: var(--space-md) !important;
}

mat-dialog-actions {
  background-color: var(--principal-background);
  padding: var(--space-md) !important;
}

/* Personalización de los inputs de Material para que usen tu verde */
::v-deep .mat-mdc-form-field-focus-indicator {
  color: var(--principal-color) !important;
}

::v-deep .mat-mdc-raised-button.mat-primary {
  background-color: var(--principal-color) !important;
  color: var(--principal-text) !important;
  /* Texto oscuro sobre fondo verde */
}