<h2 mat-dialog-title class="text-primary">Añadir Nuevo Rol</h2>

<mat-dialog-content>
  <div class="flex-container">

    <mat-form-field appearance="outline">
      <mat-label>Categoría</mat-label>
      <mat-select [(ngModel)]="roleData.category">
        <mat-option value="ADMIN">Admin System</mat-option>
        <mat-option value="OWNER">Owner</mat-option>
        <mat-option value="EMPLOYEE">Employee</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nombre del Puesto</mat-label>
      <input matInput [(ngModel)]="roleData.roleName" placeholder="Ej: OWNER" (keyup.enter)="onSave()">
    </mat-form-field>

  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSave()" [disabled]="!roleData.roleName || !roleData.category">
    Guardar Rol
  </button>
</mat-dialog-actions>