@if (employee){
    <div class="detail-container">
        <div class="detail-header">
            <h3>{{employee.firstName}} {{employee.lastName}}</h3>
            
            <button mat-icon-button (click)="close.emit()">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        
        <div class="detail-body">
            <p><strong>Email: </strong> {{employee.email}} </p>
            <p><strong>DNI: </strong> {{employee.dni}} </p>
            <p><strong>Rol: </strong> {{employee.role.roleName}} </p>
            <p><strong>Estado: </strong> {{ employee.isActive ? 'Activo' : 'Inactivo' }}</p>
            <p><strong>Fecha de contratación: </strong> {{employee.hireDate}} </p>
            <p><strong>Salario/hora: </strong> {{employee.hourlyWage}} </p>
        </div>
        
        <div class="detail-actions">
            <button mat-raised-button (click)="toggleActive.emit({id: employee.id, nextIsActive: !employee.isActive})">
                {{employee.isActive? 'Desactivar' : 'Activar'}}
            </button>
        </div>
    </div>
    } @else {
        <div class="empty-state">
            <p> Selecciona un usuario para ver el detalle </p>
        </div>
    }