/* GLOBALES */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORES */
  --principal-color: #00a896;
  --principal-white: #fafffe;
  --principal-text: #00332e;
  --secondary-color: #006b60;
  --secondary-white: #f7f7f7;
  --principal-accent: #a80012;
  --principal-background: #101414;

  /* ESTADOS */

  --status-color_disponible: #4caf50;
  --status-color_ocupado: #e53935;
  --status-color_pendiente: #ff9800;
  --status-color_reservado: #ffe524;
  --status-color_info: #2196f3;

  --font-principal: 'Inter';

  /* ESCALA DE ESPACIADO EJEMPLO => (Basado en 8px) */
  --space-xxs: 0.25rem;
  /* 4px */
  --space-xs: 0.5rem;
  /* 8px */
  --space-sm: 0.75rem;
  /* 12px */
  --space-md: 1rem;
  /* 16px (Base) */
  --space-lg: 1.5rem;
  /* 24px */
  --space-xl: 2rem;
  /* 32px */
  --space-xxl: 3rem;
  /* 48px */
}

/* VALORES GLOBALES */

html {
  font-size: 100%;
}

body {
  font-family: var(--font-principal), sans-serif;
}

h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5625rem;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
  font-weight: 400;
}

h1,
h5 {
  font-weight: 700;
}

h2,
h3 {
  font-weight: 600;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}